/* body {
    color: #262730;
    background-color: #fefeff;
}
.css-1aumxhk {
  background-color: #011839;
  background-image: none;
  color: #ffffff;
  border: none;
  }
.css-1aumxhk:hover{
    background-color: #011839;
    background-image: none;
    color: #ffffff;
    border: none;
    }
.css-145kmo2 {
  font-size: 0.8rem;
  color:#ffffff;
  margin-bottom: 0.4rem;
}

.css-l7x2nz:hover{
  background-color: #111;
  color: #fff;
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
/*
-----------------------
    MAIN APP
-----------------------
*/
.main {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  /* font-size: 4rem; */
  font-weight: 600;
  line-height: 2.0;
  color: #030303;
  
  /* background-image: url("https://images.unsplash.com/photo-1518676590629-3dcbd9c5a5c9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"); */
  /* background-image: url("https://media1.giphy.com/media/nnJIYvWhYpPlyv3tJo/giphy.gif?cid=ecf05e475dlaiimgpj5rwwd9pfxn4fv9w92iwdnkd8b2w0j8&rid=giphy.gif"); */
  background-image: url("https://i.pinimg.com/originals/18/d3/7b/18d37b12ebbc2b51b49c6b5776a13924.gif");
  /* background-image: url("https://www.shell.com/energy-and-innovation/the-energy-future/scenarios/shell-scenario-sky/_jcr_content/pagePromo/image.img.960.jpeg/1548184031017/clear-blue-sky.jpeg"); */
  background-color: #d12626;
  height: 1200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* background-image: url("https://i.pinimg.com/564x/87/cb/ff/87cbffdcfe03f3a2fb9449aeb3eda666.jpg");
  background-size: 
  background-repeat: no-repeat;
  background-color: #cccccc; */ 
  /* /* background-image: url("paper.gif");
  background-color: #a04949; */
  /* background-color: #c02c2c; */
  /* background-color: #778899;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(38,39,48,0); */
}
/*
----------------------
      BUTTONS
----------------------
*/
.stButton > button {
  background-color: #f30b0b;
  border-style:none;
  z-index: 4;
}
.stButton > button:hover {
  background-color: #e01a1a;
  color: #ffffff;
}

/*
-------------------------------
   SideBar DropDown Menu Box
-------------------------------
*/
.st-c3 {
  background: #ffffff;
  border: none;
}
/*
-----------------------------
    Down Chevron Button
------------------------------
*/
.st-d0
{
  background: #aaaaaa;
  border: none;
}
/*
-------------------------------
  Border of the Dropdown Box
-------------------------------
*/
.st-bb {
  border: none;
}
/*

*/
.stTextInput
{
  color: #f00e0e;
}
.stTextInput > div > div > input {
  color: #e91111;
}
/* 
-----------------
     Sidebar 
-----------------
*/
.css-1aumxhk {
  background-color: #011839;
  background-image: none;
  color: #ffffff;
  border: none;
  }
.css-1aumxhk:hover{
    background-color: #011839;
    background-image: none;
    color: #ffffff;
    border: none;
    }
/* 
----------------
    ICONS
----------------
*/
.css-3xqji8{
      background-color: #111;
      color: #fff;
      border: none;
  }
.css-3xqji8:active{
      background-color: #fff;
      color: #111;
      border: none;
  }
.css-3xqji8:hover{
      background-color: #fff;
      color: #111;
      border: none;
    }
/* 
-----------------
   Sidebar Menu
-----------------
*/
.css-145kmo2 {
  font-size: 0.8rem;
  color:#ffffff;
  margin-bottom: 0.4rem;
}